.icon{
    height: 30px;
    width: auto;
}

.profile-pic{
    height:60px;
    width:auto;
    border-radius: 50%;
}
.row2 img{
    border-radius: 50%;
}
body{
    display: grid;
    grid-template: 1fr 6fr/1fr 4fr;
}
aside{
    grid-column-start: 1;
    grid-row: 1/3;
}
header{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.row1{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
}
input[type="search"]{
    appearance: none;
    height: 2em;
}
#bell{
    margin-left: 30px;
}